# --- Variables para Docker
SQL_USER=USUARIO_ADMIN_BD
SQL_PASSWORD=PASSWORD_BD
DB_NAME=NOMBRE_BD
STORAGE_KEY=CADENA_CNX_AZURE_STORAGE_ACCOUNT
JWT_SECRET=LLAVE_SECRETA_JWT
ENDPOINT_SERVER_SQL_AZURE=ENDPOINT_SQL_AZURE

# --- Variables para Terraform (Deben empezar con TF_VAR_) ---
TF_VAR_db_user=USUARIO_ADMIN_BD 
TF_VAR_db_password=USUARIO_ADMIN_BD
TF_VAR_db_name=NOMBRE_BD